* {
  padding: 0;
  margin: 0;
}
.login-button {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}
.nav-section {
  display: flex;
  justify-content: center;
}
.menu-list {
  display: flex;
  list-style-type: none;
  margin: 0;
}
.menu-list li {
  padding: 10px;
}
.menu-area {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-search {
  border-bottom: 1px solid #000;
  display: flex;
}
.nav-search input {
  border: 0;
  padding: 10px;
}
.nav-search input::before {
  content: "";
  background: url();
}
.product-card img {
  width: 100%;
}

.product-card:hover {
  transform: scale(1.1);
  z-index: 1;
}
.login-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}
.product-img {
  display: flex;
  justify-content: flex-end;
}
